.home .am-list-body::before {
  background-color: white !important;
}

.home .am-list-body::after {
  background-color: white !important;
}

.home .am-notice-bar {
  color: #128bd6;
}

.home .am-list-item .am-list-line .am-list-content {
  color: #8a8a8a;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.home .am-list-item .am-list-line .am-list-extra {
  flex-basis: 63%;
  color: #000;
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.home .am-list-item img {
  margin: -5px 5px 0 0;
  height: 25px;
  width: 25px;
}
