.BusList .am-button::before {
  border: none !important;
}

.BusList .am-button {
  width: 100% !important;
}

.BusList .am-navbar-light .am-navbar-title {
  font-size: 14px !important;
}

.BusList .am-list .am-list-view-scrollview {
  padding-top: 100px;
}

.BusList img {
  display: block;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.BusList #dateIcon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}