.bus-list .top-container {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.bus-list .tab-button::before {
  border: none !important;
}

.bus-list .tab-button {
  width: 100% !important;
}

.bus-list .am-navbar-light .am-navbar-title {
  font-size: 14px !important;
}

.bus-list .am-list .am-list-view-scrollview {
  padding-top: 100px;
}

.bus-list img {
  display: block;
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.bus-list #dateIcon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.buslist-tool {
  position: fixed !important;
  left: 50%;
  bottom: 24px;
  z-index: 888;
  color: #0086f6;
  font-size: 14px;
  width: 100px;
  height: 48px;
  margin-left: -50px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 20%);
}